<?xml version="1.0"?>
<appSettings>
  <!-- client id of this web app -->
  <add key="ida:ClientID" value="" />
  <add key="ida:ClientSecret" value="" />
  <add key="ida:Authority" value="https://login.windows.net/yourazuread.onmicrosoft.com" />
  <!-- url of this web app -->
  <add key="ida:RedirectUri" value="" />
  <!-- api url of the python service -->
  <add key="django:apiurl" value="" />
  <!-- Azure AD resource id of the python service -->
  <add key="django:resourceid" value="" />
  <!-- Azure Redis credentials -->
  <add key="cache:hostname" value="" />
  <add key="cache:password" value="" />
</appSettings>
